* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 15px 35px;
}
/*Nav bar style*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
  padding-top: 51px;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list li {
  list-style: none;
  text-decoration: none;
  margin-right: 51px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.nav-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.mary {
  color: #fd6e0a;
}

/*Header Section*/

.header {
  background-color: #fff8f3;
}
.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.banner-img {
  width: 500px;
}
.banner-content{

}
